@import "./../../../styles/variables";
.new {
  background-color: $grey;
  color: #ffffff;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  padding: 0.25rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.assigned {
  background-color: $red;
  color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
